@import url('https://fonts.googleapis.com/css?family=Arimo');
html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*, *::after, *::before{
    -webkit-box-sizing: inherit;
            box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.65;
    font-weight: 400;
    color: #2E363E;
}
form{
    margin: 0 0 2em 0;
    font: inherit;
    vertical-align: baseline;
}
.wrapper{
    max-width: 1410px;
    margin: 0px auto;
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
}
.main{
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
}
.inner-header{
    padding: 0 6em 0.1em 6em;
    margin: 0 auto;
    max-width: 110em;
}
.header{
    background-color: #fff;
    position: relative;
    border-bottom: 5px solid #F56A6A;
    padding: 6em 0 1em 0;
}
.header_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            padding-top: 56px;
}
.header_nav{
    position: relative;
    background-color: #F5F6F7;
}
.header_list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.header_list::after{
    display: table;
    clear: both;
}
.header_item{
    float: left;
}
.icon_item{
    float: right;
}
.header_list a{
    text-decoration: none;
    display: block;
    line-height: 46px;
    padding: 0 20px;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: #F56A6A;
    transition: .3s linear;
}
.header_list a:hover{
    background-color: #C4C4C4;
}
@media (max-width: 830px) {
    .header_list{
        padding-top: 90px;
        text-align: center;
    }
}
.header_list li{
    float: none;
    display: inline-block;
}
.icon_item_l{
    padding-left: 1px;
}
.login{
    position: fixed;
    top: 20px;
    right: 20px;
}
.login a{
    text-decoration: none;
    color:#D11919;
}
/*.form_search{
    position: relative;
    width: 300px;
    margin: 0 auto;
}
input{
    border: none;
    outline: none;
    border-radius: 5px;
}
.input_search{
    width: 100%;
    height: 42px;
    background: #EFF1F2;
    padding-left: 15px;
}
input[type="submit"]{
    height: 26px;
    width: 26px;
    position: absolute;
    top: 8px;
}*/
/*-------------sidebar----------------*/
input{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.65;
}
.sidebar{
    flex-grow: 0;
    flex-shrink: 0;
    transition: margin-left .5s ease box-shadow .5s ease;
    background-color: #F5F6F7;
    font-size: .9em;
    position: relative;
    width: 26em;
}
.inner{
    padding: 2.22222em 2.22222em 2.44444em 2.22222em;
    position: relative;
    width: 26em;
}
.inner:last-child{
    margin-bottom: 0;
}
.search form{
    text-decoration: none;
    position: relative;
}
.search form::before{
    transform: scaleX(-1);
    color: #000;
    content: url("http://www.example.com/test.png");
}
.search{
    background-color: #eff1f2;
    border-bottom: 0;
    margin: -2.22222em 0 4.44444em -2.22222em;
    padding: 2.22222em;
    width: calc(100% + 4.44444em);
}
input[type="search"]{
    height: 2.75em;
    appearance: none;
    background: #fff;
    border-radius: 0.375em;
    border: solid 1px rgba(210, 215, 217, .75);
    color: inherit;
    display: block;outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

.content{
    position: relative;
    top: 256px;
}

.slides {
    padding: 0;
    width: 1180px;
    height: 615px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 250px;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 1180px;
    height: 615px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 590px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}
.content_news{
    margin-bottom: 139px;
}
.content_lib{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:0 108px;
    align-items: center;
}