@import url('https://fonts.googleapis.com/css?family=Arimo');
html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*, *::after, *::before{
    -webkit-box-sizing: inherit;
            box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.2;
    font-weight: normal;
    color: #2E363E;
}
.wrapper{
    max-width: 1410px;
    margin: 0px auto;
    border-bottom: 5px solid #F56A6A;
}
.header{
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            padding-top: 56px;
}
.header_nav{
    position: relative;
    background-color: #F5F6F7;
}
.header_list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.header_list::after{
    display: table;
    clear: both;
}
.header_item{
    float: left;
}
.icon_item{
    float: right;
}
.header_list a{
    text-decoration: none;
    display: block;
    line-height: 46px;
    padding: 0 20px;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: #F56A6A;
    transition: .3s linear;
}
.header_list a:hover{
    background-color: #C4C4C4;
}
@media (max-width: 830px) {
    .header_list{
        padding-top: 90px;
        text-align: center;
    }
}
.header_list li{
    float: none;
    display: inline-block;
}
.icon_item_l{
    padding-left: 1px;
}
    /*list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #F5F6F7;
}
.header_item{
    border-right: 1px solid #fff;
    margin-right: 60px;
}
.header_item:last-child{
    margin: 0;
}
.header_link{
    font-size: 21px;
    line-height: 30px;
    color: #D11919;
    text-decoration: none;
}
.header_link:hover, .header_link:focus, .header_link:active{
    background-color: #C4C4C4;
    margin: 0 0 0 0;
}*/
.login{
    position: fixed;
    top: 20px;
    right: 20px;
}
.login a{
    text-decoration: none;
    color:#D11919;
}
/*.header_icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.icon_item{
    margin-right: 45px;
}
.icon_item:last-child{
    margin: 0;
}
.header_search{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #EFF1F2;
    width: 20%;
    height: 200px;
}
.form_search{
    width: 66%;
    border-radius: 10px 10px 10px 10px;
    margin: 73px 0 0 87px;
    background-color: #fff;
}
.input_search{
    height: 49px;
}
.input_search::-webkit-input-placeholder{
    color: #B7B7B7;
}
input[type="search"]{
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 300px;
    vertical-align: middle;
    color: #000000;
    background-color: #fff;
}
input[placeholder="Search"]{
    font-size:24px;
    margin-left: 10px;
}
input[type="submit"]{
    border: none;
    background: url(../img/search.png) no-repeat 100% 100%;
    width: 22px;
    height: 23px;
    position: relative;
    top: 10px;
}*/
.form_search{
    position: relative;
    width: 300px;
    margin: 0 auto;
}
input{
    border: none;
    outline: none;
    border-radius: 5px;
}
.input_search{
    width: 100%;
    height: 42px;
    background: #EFF1F2;
    padding-left: 15px;
}
input[type="submit"]{
    height: 26px;
    width: 26px;
    position: absolute;
    top: 8px;
    right: ;
}